:root {

	--text-primary: #fff;
	--text-secondary: #E2E4E9;
	--text-tertiary: #707A8F;

	--bg-primary: #16181D;
	--bg-secondary: #22252B;
	--bg-tertiary: #2D3139;

	--stroke-primary: #fff;
	--stroke-secondary: #434956;

	--icon-primary: #fff;
	--icon-positive: #02E4C0;

	--color-accent: #4452FE;
	--color-btn-tr-hover: rgba(255, 255, 255, 0.2);
	--color-btn-hover: #6975FE;

	--border: 1px solid var(--stroke-primary);
	--border-radius: 8px;
    --border-radius-large: 16px;

	--container-width: 1416px;
	--container-padding-x: 16px;

	--section-padding-y: 128px;

	--font-main: 'Onest', sans-serif;

	--button-height: 48px;
	--input-height: 48px;

	--btn-lg-padding-x: 40px;
	--btn-lg-padding-y: 20px;

	--btn-md-padding-x: 32px;
	--btn-md-padding-y: 16px;

	--btn-sm-padding-x: 24px;
	--btn-sm-padding-y: 12px;

	--transition-duration: 0.2s;

}
