.modal-review {
  background-color: transparent;
  position: relative;

  &::backdrop {
    background: rgba(15, 15, 15, 0.5);
  }

  &__container {
    display: flex;
    gap: 8px;
  }

  &__inner {
    width: 460px;
    background-color: var(--bg-secondary);
    border-radius: var(--border-radius-large);
    color: var(--text-primary);
    padding: 40px;
    position: relative;

    @include mobile {
      padding: 24px;
    }
  }

  &__contant {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__text {
    text-align: center;
  }
}

