.socials-list {
  display: flex;
  align-items: center;

  &__item {
    display: block;
    padding: 8px;
  }

  &__link {
    @include flex-center;

    &:hover svg path {
      fill: var(--color-accent);
    }

    &:focus-visible {
      outline: 2px solid var(--color-accent);
      outline-offset: 2px;
    }

    @include mobile {
      &:focus-visible svg path {
        fill: var(--color-accent);
      }
      &:focus-visible {
        outline: none;
      }
    }
  }

  &__svg {
    @include square(32px);
    object-fit: contain;
  }
}
